<footer class="space--sm footer-2 bg--dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 col-xs-6">
                    <h2>Logo</h2>
                    <p>{{ .Site.Params.defaultDescription }}</p>
                    <p>Copyright &copy; {{ dateFormat "2006" now }}, EMSN <br>Creative Commons Attribution-Share Alike.</p>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-6">
                    <h6 class="type--uppercase">Sitemap</h6>
                    <ul class="list--hover">
                        <li><a href="{{ .Site.BaseURL }}/imprint">Imprint</a></li>
                        <li><a href="{{ .Site.BaseURL }}/privacypolicy">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 col-xs-6">
                    <h6 class="type--uppercase">Social Media</h6>
                    {{ if .Site.Params.social.enable }}
                    <ul class="list--hover">
                        {{ range .Site.Menus.social.ByWeight }}
                        <li>
                            <a href="{{ .URL }}" target="_blank">{{ .Name }}</a>
                        </li>
                        {{ end }}
                    </ul>
                    {{ end }}
                </div>
                <div class="col-sm-6 col-md-3 col-xs-6">
                    <h6 class="type--uppercase">Contact</h6>
                    <ul class="list--hover">
                        <li>                
                            <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-sm-6"> <span class="type--fine-print">© <span class="update-year"></span> Stack Inc.</span> <a class="type--fine-print" href="#">Privacy Policy</a> <a class="type--fine-print" href="#">Legal</a> </div>
                <div class="col-sm-6 text-right text-left-xs">
                    <ul class="social-list list-inline list--hover">
                        <li><a href="#"><i class="socicon socicon-google icon icon--xs"></i></a></li>
                        <li><a href="#"><i class="socicon socicon-twitter icon icon--xs"></i></a></li>
                        <li><a href="#"><i class="socicon socicon-facebook icon icon--xs"></i></a></li>
                        <li><a href="#"><i class="socicon socicon-instagram icon icon--xs"></i></a></li>
                    </ul>
                </div>
            </div> -->
        </div>
    </footer>