<footer class="footer-bs">
    <div class="row">
        <div class="col-md-3 footer-brand">
            <h2>Logo</h2>
            <p>{{ .Site.Params.defaultDescription }}</p>
            <p>Copyright &copy; {{ dateFormat "2006" now }}, EMSN <br>Creative Commons Attribution-Share Alike.</p>
        </div>
        <div class="col-md-3 footer-nav">
            <h4>Sitemap</h4>
<!--             <div class="col-md-6">
                <ul class="pages">
                    <li><a href="#">Travel</a></li>
                    <li><a href="#">Nature</a></li>
                    <li><a href="#">Explores</a></li>
                    <li><a href="#">Science</a></li>
                    <li><a href="#">Advice</a></li>
                </ul>
            </div> -->
                <ul class="list">
                    <li><a href="{{ .Site.BaseURL }}/imprint">Imprint</a></li>
                    <li><a href="{{ .Site.BaseURL }}/privacypolicy">Privacy Policy</a></li>
                </ul>
        </div>
        <div class="col-md-3 footer-social">
            <h4>Social Media</h4>
            {{ if .Site.Params.social.enable }}
            <ul>
            {{ range .Site.Menus.social.ByWeight }}
            <li>
                <a href="{{ .URL }}" target="_blank">{{ .Name }}</a>
            </li>
            {{ end }}
            </ul>
            {{ end }}
        </div>
        <div class="col-md-3 footer-contact">
            <h4>Contact</h4>
            <ul>
                <li>
                <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>
                </li>
            </ul>
        </div>
    </div>
</footer>