{{ if isset .Site.Params "hero" }}
{{ if .Site.Params.hero.enable }}
<section class="home-hero animated fadeIn center">
    <div class="container">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4" style="text-align: center">
                        <div class="icon">
                            <img src="img/np_antenna_704040_FFFFFF.svg">
                        </div>
                        <h1>{{ .Site.Params.kpi.stations }}</h1>
                    </div>
                    <div class="col-md-4" style="text-align: center">
                        <div class="icon">
                            <img src="img/np_meteor_897768_FFFFFF.svg">
                        </div>
                        <h1>{{.Site.Params.kpi.metors }}</h1>
                    </div>
                    <div class="col-md-4"  style="text-align: center">
                        <div class="icon">
                            <img src="img/np_database_1022996_FFFFFF.svg">
                        </div>
                        <h1>{{ .Site.Params.kpi.datasets }}</h1>
                    </div>
                </div>
            </div>
        </div>
</section>
{{ end }}
{{ end }}

