<!-- <nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="{{ .Site.BaseURL }}">
        <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
    </a>
</nav> -->

<div class="navbar navbar-expand-lg bsnav bsnav-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler toggler-spring"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse justify-content-md-end">
        <ul class="navbar-nav navbar-mobile mr-0">
            <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="#">News</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Gallery</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
        </ul>
    </div>
</div>